<div>
    <img src="./../../assets/SC_1.jpg" style="max-width: 100%;"/>
    <!-- <div class="timer" >
        <h4> Wait for the big day ! </h4>
        <span id="days"> {{daysToDday}} </span>Day(s)
        <span id="hours"> {{hoursToDday}} </span>Hrs 
        <span id="minutes"> {{minutesToDday}} </span>Min
        <span id="seconds"> {{secondsToDday}} </span>S
    </div> -->
</div>
<div style="align-content: center;float: right;left: 33%;top:2%;position:fixed">
    <img src="./../../assets/image.png" style="max-width: 100%;"/>
    <!-- <div class="timer" >
        <h4> Wait for the big day ! </h4>
        <span id="days"> {{daysToDday}} </span>Day(s)
        <span id="hours"> {{hoursToDday}} </span>Hrs 
        <span id="minutes"> {{minutesToDday}} </span>Min
        <span id="seconds"> {{secondsToDday}} </span>S
    </div> -->
</div>